spring:
  application:
    name: Education

  datasource:
    url: jdbc:mysql://localhost:3306/edutrack
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/edutrack

server:
  port: 8081

# http://localhost:8081/swagger-ui/index.html#
# http://localhost:8081